$color-background: #eeeeee;

$color-white: white;
$color-black: #000;
$color-grey-dark: #777;

$section-margin: 5rem;

// color palette 1
$color-1: #222831;
$color-2: #393e46;
$color-3: #00adb5;
$color-4: #eeeeee;

// color palette 2
// $color-1: #08d9d6;
// $color-2: #252a34;
// $color-3: #ff2e63;
// $color-4: #eaeaea;