$color-background: #eeeeee;

$color-white: white;
$color-black: #000;
$color-grey-dark: #777;

$section-margin: 5rem;

// color palette 1
$color-1: #222831;
$color-2: #393e46;
$color-3: #00adb5;
$color-4: #eeeeee;

// color palette 2
// $color-1: #08d9d6;
// $color-2: #252a34;
// $color-3: #ff2e63;
// $color-4: #eaeaea;

// color palette 3
// $color-1: #112d4e;
// $color-3: #3f72af;
// $color-2: #dbe2ef;
// $color-4: #f9f7f7;

// color palette 4
// $color-1: #253b6e;
// $color-2: #1f5f8b;
// $color-3: #1891ac;
// $color-4: #d2ecf9;