.bubble {
    display: inline-block;
    margin: 1rem 3rem;
    padding: 1.5rem;

    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    
    color: $color-4;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .15);
    transition: all .3s;

    &--1 { background-color: $color-1; }
    &--2 { background-color: $color-2; }
    &--3 { background-color: $color-3; }

    // slight jumping effect
    &:hover {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    }

    &__heading {
        display: inline-block;
        width: 80%;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color-4;
    }

    &__description {
        font-size: 2rem;
        line-height: 1.5;
    }

    @include respond(six-hundred) {
        // no more jumping effect
        &:hover {
            transform: none;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        }
    }

    @include respond(four-hundred) {
        // prevents squishy bubbles
        margin: 1rem .5rem;
    }
}

.bubble-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}