.card {
    position: relative;
    margin: 3rem 3rem;
    padding: 2rem;
    width: 70rem;
    height: 40rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .15);
    background-color: $color-3;
    transition: transform .4s, box-shadow .4s;

    &__content {
        display: table;
        padding: 2rem;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: $color-4;
        overflow: hidden;
    }

    &__title {
        display: block;
        font-size: 3rem;
        line-height: 1.1;
    }

    &__info {
        display: block;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: $color-3;
    }

    &__img {
        overflow: hidden;
        float: left;
        width: 50%;
        height: 20rem;
        background-image: url(../../img/data-plus.png);
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-top: 0.5rem;
        background-color: white;
    }

    &__background {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 1rem;
        font-weight: 500;
    }

    &__summary {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 500;
    }

    &__link,
    &__link:visited,
    &__link:link {
        display: inline-block;
        text-decoration: none;
        color: $color-1;
        font-weight: 700;
        border-bottom: 1px dotted $color-2;
        cursor: pointer;
    }

    &__tools {
        position: absolute;
        display: inline-block;
        right: 3rem;
        bottom: 3rem;
        font-size: 1.5rem;

        span {
            font-weight: 700;
        }
    }

    &__github {
        position: absolute;
        bottom: 3rem;
        left: 4rem;
        width: 6rem;
        height: auto;
        transition: all .3s;
        cursor: pointer;
    }

    &__github:hover {
        transform: rotate(5deg) scale(1.1);
    }

    // margin between the cards
    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    // cards have a slight rising effect when hovered
    &:hover {
        transform: translateY(-.5rem) scale(1.03);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    }

    // turns cards vertical for small screen sizes
    @include respond(eight-hundred) {
        width: 50rem;
        height: auto;
        padding: 2rem;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &__img {
            width: 100%;
        }

        // pushes tools and github down
        &__text {
            display: block;
        }

        &__tools {
            display: block;
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: left;
            margin-top: 1.2rem;
            margin-bottom: 1.5rem;
        }

        &__github {
            display: block;
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;

            &:hover {
                transform: none;
            }
        }

        // takes away hovering of cards
        &:hover {
            transform: none;
            box-shadow: none;
        }
    }

    @include respond(five-hundred) {
        padding: 1rem;
        margin: 1.5rem 0;
    }

    @include respond(four-hundred) {
        padding: 1rem;

        &__info {
            font-size: 1.5rem;
        }
    }
}

.card-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity .3s;
}