.filter {
    display: flex;
    padding: 0 5rem;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    &__option {
        flex-grow: 1;
        font-size: 2rem;
        letter-spacing: .3rem;
        padding: 1.5rem 0;
        color: $color-3;
        background-color: $color-4;
        transition: all .3s;
        overflow: hidden;

        // gives the filter a curvy look at ends
        &:first-child {
            border-top-left-radius: 2.5rem;
            border-bottom-left-radius: 2.5rem;
        }

        &:last-child {
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
        }

        // hovered option rises
        &:hover {
            transform: translateY(-.5rem);
        }
    }

    @include respond(eight-hundred) {
        // filter bar is not squished
        padding: 0 1rem;
    }

    @include respond(four-hundred) {
        margin-bottom: 3rem;
    }
}

// for the selected type
.selected {
    background-color: $color-3;
    color: $color-4;
}