.header {
    position: relative;
    width: 100%;
    height: 100%;

    &__tint {
        // decide if you want some tint over header pic
    }
    
    &__img {
        position: absolute;
        background-image: url(../../img/grant-pic.jpg);

        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 1; // faded image effect
        z-index: 1;

        background-position: right;
    }

    // container for all header text
    &__text {
        position: absolute;
        top: 5rem;
        left: 5rem;
        z-index: 3;
        color: $color-1;
        letter-spacing: .3rem;
        background-color: rgba($color-white, .85);
        padding: 3rem;
    }

    // "hi, i'm grant kim"
    &__heading--1 {
        font-size: 4rem;
        border-bottom: 3px solid $color-3;
    }

    // "my perfect day"
    &__heading--2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    &__step {
        margin-left: 5rem;
        font-size: 3rem;

        // "step _."
        span {
            display: inline-block;
            font-size: 1.75rem;
        }
    }

    @include respond(six-hundred) {
        &__text {
            display: block;
            margin-top: 0rem;
            left: 50%;
            transform: translateX(-50%);
            letter-spacing: .2rem;
            // prevents text in header from wrapping
            width: 34.2rem;
        }

        &__heading--1 {
            font-size: 3.5rem;
            border-bottom: 2px solid $color-3;
        }

        &__heading--2 {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
        }

        &__step {
            font-size: 2.5rem;
            margin-left: 0;
            text-align: center;
    
            // "step _."
            span {
                display: inline-block;
                font-size: 1.5rem;
            }
        }
    }
}

