.header {
    position: relative;
    width: 100%;
    height: 100%;

    &__tint {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-2;
        opacity: .1;
        z-index: 2;
    }
    
    &__img {
        position: absolute;
        background-image: url(../../img/clown.jpg);

        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: .1;
        z-index: 1;
    }

    &__text {
        position: absolute;
        top: 3rem;
        left: 3rem;
        z-index: 3;
        color: $color-1;
    }

    &__heading {
        font-size: 3rem;
        letter-spacing: .3rem;
    }

    &__step {
        font-size: 3rem;
        margin-left: 5rem;
        letter-spacing: .3rem;
    }
}

