/*
    media queries denoted numerically
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #eeeeee; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222831; }

.heading-primary {
  font-size: 3rem;
  letter-spacing: .3rem;
  margin-bottom: 3rem; }
  @media (max-width: 400px) {
    .heading-primary {
      font-size: 2.5rem; } }

.about__text {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 0rem 10rem;
  max-width: 120rem;
  text-align: center; }
  @media (max-width: 800px) {
    .about__text {
      font-size: 2rem;
      padding: 0;
      text-align: center; } }
  @media (max-width: 400px) {
    .about__text {
      margin-bottom: 3rem; } }

.u-color-4 {
  color: #eeeeee !important; }

.bubble {
  display: inline-block;
  margin: 1rem 3rem;
  padding: 1.5rem;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  color: #eeeeee;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .bubble--1 {
    background-color: #222831; }
  .bubble--2 {
    background-color: #393e46; }
  .bubble--3 {
    background-color: #00adb5; }
  .bubble:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .bubble__heading {
    display: inline-block;
    width: 80%;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eeeeee; }
  .bubble__description {
    font-size: 2rem;
    line-height: 1.5; }
  @media (max-width: 600px) {
    .bubble:hover {
      transform: none;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); } }
  @media (max-width: 400px) {
    .bubble {
      margin: 1rem .5rem; } }

.bubble-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  position: relative;
  margin: 3rem 3rem;
  padding: 2rem;
  width: 70rem;
  height: 40rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #00adb5;
  transition: transform .4s, box-shadow .4s; }
  .card__content {
    display: table;
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    overflow: hidden; }
  .card__title {
    display: block;
    font-size: 3rem;
    line-height: 1.1; }
  .card__info {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #00adb5; }
  .card__img {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 20rem;
    background-image: url(../../img/data-plus.png);
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem; }
  .card__background {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 500; }
  .card__summary {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500; }
  .card__link, .card__link:visited, .card__link:link {
    display: inline-block;
    text-decoration: none;
    color: #222831;
    font-weight: 700;
    border-bottom: 1px dotted #393e46;
    cursor: pointer; }
  .card__tools {
    position: absolute;
    display: inline-block;
    right: 3rem;
    bottom: 3rem;
    font-size: 1.5rem; }
    .card__tools span {
      font-weight: 700; }
  .card__github {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    width: 6rem;
    height: auto;
    transition: all .3s;
    cursor: pointer; }
  .card__github:hover {
    transform: rotate(5deg) scale(1.1); }
  .card:not(:last-child) {
    margin-bottom: 2rem; }
  .card:hover {
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 800px) {
    .card {
      width: 50rem;
      height: auto;
      padding: 2rem; }
      .card:not(:last-child) {
        margin-bottom: .5rem; }
      .card__img {
        width: 100%; }
      .card__text {
        display: block; }
      .card__tools {
        display: block;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: left;
        margin-top: 1.2rem;
        margin-bottom: 1.5rem; }
      .card__github {
        display: block;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto; }
        .card__github:hover {
          transform: none; }
      .card:hover {
        transform: none;
        box-shadow: none; } }
  @media (max-width: 500px) {
    .card {
      padding: 1rem;
      margin: 1.5rem 0; } }
  @media (max-width: 400px) {
    .card {
      padding: 1rem; }
      .card__info {
        font-size: 1.5rem; } }

.card-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity .3s; }

.header {
  position: relative;
  width: 100%;
  height: 100%; }
  .header__img {
    position: absolute;
    background-image: url(../../img/grant-pic.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    background-position: right; }
  .header__text {
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 3;
    color: #222831;
    letter-spacing: .3rem;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 3rem; }
  .header__heading--1 {
    font-size: 4rem;
    border-bottom: 3px solid #00adb5; }
  .header__heading--2 {
    margin-bottom: 2rem;
    font-size: 3rem; }
  .header__step {
    margin-left: 5rem;
    font-size: 3rem; }
    .header__step span {
      display: inline-block;
      font-size: 1.75rem; }
  @media (max-width: 600px) {
    .header__text {
      display: block;
      margin-top: 0rem;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: .2rem;
      width: 34.2rem; }
    .header__heading--1 {
      font-size: 3.5rem;
      border-bottom: 2px solid #00adb5; }
    .header__heading--2 {
      margin-bottom: 1.5rem;
      font-size: 2.5rem; }
    .header__step {
      font-size: 2.5rem;
      margin-left: 0;
      text-align: center; }
      .header__step span {
        display: inline-block;
        font-size: 1.5rem; } }

.filter {
  display: flex;
  padding: 0 5rem;
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 3rem; }
  .filter__option {
    flex-grow: 1;
    font-size: 2rem;
    letter-spacing: .3rem;
    padding: 1.5rem 0;
    color: #00adb5;
    background-color: #eeeeee;
    transition: all .3s;
    overflow: hidden; }
    .filter__option:first-child {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem; }
    .filter__option:last-child {
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem; }
    .filter__option:hover {
      transform: translateY(-0.5rem); }
  @media (max-width: 800px) {
    .filter {
      padding: 0 1rem; } }
  @media (max-width: 400px) {
    .filter {
      margin-bottom: 3rem; }
      .filter__option {
        font-size: 1.5rem; } }

.selected {
  background-color: #00adb5;
  color: #eeeeee; }

.section-header {
  height: 100vh;
  min-height: 60rem; }
  @media (max-width: 600px) {
    .section-header {
      min-height: 80rem; } }

.section-about {
  text-align: center;
  padding: 7.5rem 3rem; }
  @media (max-width: 400px) {
    .section-about {
      padding: 3rem 2rem; } }

.section-projects {
  text-align: center;
  padding: 7.5rem 3rem;
  background-color: #222831; }
  @media (max-width: 800px) {
    .section-projects {
      padding: 7.5rem 1rem; } }
  @media (max-width: 400px) {
    .section-projects {
      padding: 3rem 1rem; } }

.section-contact {
  text-align: center;
  padding: 7.5rem 3rem; }
  .section-contact .contact-hi {
    font-size: 2rem;
    margin-bottom: 3rem; }
  .section-contact .contact-email,
  .section-contact .contact-email:link,
  .section-contact .contact-email:visited {
    display: inline-block;
    text-decoration: none;
    color: #00adb5;
    transition: all .3s; }
    .section-contact .contact-email:hover,
    .section-contact .contact-email:link:hover,
    .section-contact .contact-email:visited:hover {
      transform: scale(1.1) translateX(0.8rem); }
  .section-contact .contact-logo {
    display: inline-block;
    height: 5rem;
    width: auto; }
    .section-contact .contact-logo--github {
      margin-right: 1rem; }
  @media (max-width: 800px) {
    .section-contact .contact-email:hover,
    .section-contact .contact-email:link:hover,
    .section-contact .contact-email:visited:hover {
      transform: none; } }
  @media (max-width: 400px) {
    .section-contact {
      padding: 3rem 1rem; }
      .section-contact .contact-hi {
        font-size: 1.5rem; } }
